<ion-view view-title="Account">
  <ion-content id="account-background">
  <br>
    <ion-list>
	<!-- Enable API Services -->
	<br>
	<center><h3> Enable Special Service </h3></center>
	
	<div id="specialservice">
		<ion-toggle  ng-model="settings.Police">
			<div class="cat-image">
				<img src="http://i.imgur.com/TFIBiSz.png">
			</div><br>
			<p>Enable Police Contact</p>
		</ion-toggle>
		<ion-toggle  ng-model="settings.Lyft">
			<div class="cat-image">
				<img src="http://i.imgur.com/4lRRZzA.png">
			</div><br>
			<p>Enable Lyft</p>
		</ion-toggle>
		<ion-toggle  ng-model="settings.Facebook">
			<div class="cat-image">
				<img src="http://i.imgur.com/3ftzgl1.png">
			</div><br>
			<p>Enable Facebook</p>
		</ion-toggle>
		</ion-list>
	</div>
	<br><br>
	
  </ion-content>
</ion-view>
