<ion-view view-title="Account">
  <ion-content id="account-background">
  <br>
    <ion-list>
	<!-- Enable API Services -->
	<br>
	<center><h3> Enable Special Service </h3></center>
	
    <ion-toggle  ng-model="settings.Police">
        Enable Police Contact
    </ion-toggle>
	<ion-toggle  ng-model="settings.Lyft">
		<img src="http://i.imgur.com/4lRRZzA.png"><br>
        Enable Lyft
    </ion-toggle>
	<ion-toggle  ng-model="settings.Facebook">
		Enable Facebook
    </ion-toggle>
    </ion-list>
	
	<br><br>
	
  </ion-content>
</ion-view>
