<ion-view view-title="Account">
  <ion-content id="account-background">
  <br>
    <ion-list>
	<!-- Enable API Services -->
	<br>
	<center><h3><font color="#ef473a"> Enable Special Service </font></h3></center>
	
	<div id="specialservice">
		<ion-toggle  ng-model="settings.Police" toggle-class="toggle-assertive">
			<div class="special-cats">
				<img src="http://i.imgur.com/TFIBiSz.png">
			</div><br>
			<p>Enable Police Contact</p>
		</ion-toggle>
		<ion-toggle  ng-model="settings.Lyft" toggle-class="toggle-assertive">
			<div class="special-cats">
				<img src="http://i.imgur.com/4lRRZzA.png">
			</div><br>
			<p>Enable Lyft</p>
		</ion-toggle>
		<ion-toggle  ng-model="settings.Facebook" toggle-class="toggle-assertive">
			<div class="special-cats">
				<img src="http://i.imgur.com/jhtVKR6.png">
			</div><br>
			<p>Enable Facebook</p>
		</ion-toggle>
		</ion-list>
	</div>
	<br><br>
	
	<!-- Assigned Emergency Contacts Cats -->
	<div id="emergencycats">
		<ul><center><b><h3><font color="#ef473a">Emergency Cats </font></h3></b></center><br>
		<!-- Cat 1-->
		<div class="contacts-cat">
			<li><img src="http://i.imgur.com/Jgw7zuq.png"></li>
		</div><br>
		<div class="button-bar bar-assertive">
			<a class="button">Assign/Edit</a>
			<a class="button">Clear</a>
		</div><br><br>
		
		<!-- Cat 2-->
		<div class="contacts-cat">
			<li><img src="http://i.imgur.com/XnWIFpq.png"></li>
		</div><br>
		<div class="button-bar bar-assertive">
			<a class="button">Assign/Edit</a>
			<a class="button">Clear</a>
		</div><br><br>
		
		<!-- Cat 3-->
		<div class="contacts-cat">
			<li><img src="http://i.imgur.com/GgagEb1.png"></li>
		</div><br>
		<div class="button-bar bar-assertive">
			<a class="button">Assign/Edit</a>
			<a class="button">Clear</a>
		</div><br><br>
		
		<!-- Cat 4-->
		<div class="contacts-cat">
			<li><img src="http://i.imgur.com/3ftzgl1.png"></li>
		</div><br>
		<div class="button-bar bar-assertive">
			<a class="button">Assign/Edit</a>
			<a class="button">Clear</a>
		</div><br><br>
		
		<!--Cat 5-->
		<div class="contacts-cat">
			<li><img src="http://i.imgur.com/5ySH5CC.png"></li>
		</div><br>
		<div class="button-bar bar-assertive">
			<a class="button">Assign/Edit</a>
			<a class="button">Clear</a>
		</div><br><br>
	
	</ul></div>
	
  </ion-content>
</ion-view>
