/* .background {
	background: url("img/neko-background.png") no-repeat;
	background-size: cover;
}*/

.background {
	background: url("http://i.imgur.com/IHcQ6DR.png");
	background-size: cover;
}

#account-background {
	background: #ffdab9;
}

#specialservice {
	
}

.special-cats {
	width: 50px;
	height: auto;
	background-color: transparent;
	background-size: cover;
	display: block;
	margin-left: 60px;
}

.special-cats img {
	width: 100%;
}

#specialservice p {
	color: #ef473a;
	padding-left: 20px;
	text-align: justify;
	font-size: 15px;
}

#specialservice p:nth-of-type(2) {
	text-align:center;
}

#orangetabby {
	position: absolute;
}

#lyftkitty {
	position: absolute;
}

#orangespotted{
	position: absolute;
}

#emergencycats {
	
}

.contacts-cat {
	width: 60px;
	height: auto;
	background-color: transparent;
	background-size: cover;
	display: block;
	margin: auto;
}

.contacts-cat img {
	width: 100%;
}
