/* .background {
	background: url("img/neko-background.png") no-repeat;
	background-size: cover;
}*/

.background {
	background: url("http://i.imgur.com/IHcQ6DR.png");
	background-size: cover;
}

#account-background {
	background: #ffdab9;
}

#specialservice {
	
}

.cat-image {
	width: 50px;
	height: auto;
	background-color: transparent;
	background-size: cover;
	display: block;
	margin-left: 50px;
}

.cat-image img {
	width: 100%;
}

.cat-image p {
	font-size: 10px;
}